<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411470943584-q0d50autdt4lkp2aa971u5g02iev63jb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411470943584-q0d50autdt4lkp2aa971u5g02iev63jb</string>
	<key>API_KEY</key>
	<string>AIzaSyBqnhCmE9i2EJoi2zOzvhkNflzFazZX92w</string>
	<key>GCM_SENDER_ID</key>
	<string>411470943584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersample</string>
	<key>PROJECT_ID</key>
	<string>firesamplechat</string>
	<key>STORAGE_BUCKET</key>
	<string>firesamplechat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411470943584:ios:f947d76a64ce662bf9fa05</string>
</dict>
</plist>